html
{
    scroll-behavior: smooth;
}

ol, ul
{
    color: #fff;
    padding-inline-start: 40px;
}

a
{
    color: #fff;
}

h2
{
    font-size: 24px;
}

h3
{
    font-size: 20px;
}

h4
{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0.25rem;
    text-transform: none;
}

.table-of-contents
{
    font-size:  20px;
}

.toc-header li
{
    margin-bottom: 0.25rem;
}


/*Two columns if it is smaller than a certain size*/
@media only screen and (max-width: 991px) {
    .two-columns ol {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
