{% extends "layout.html" %}

{% block content %}
<link href="{{url_for('static', filename='assets/css/pool/join/join.css')}}" rel="stylesheet"/>
<link href="{{url_for('static', filename='assets/css/nftTools/nftObjects.css')}}" rel="stylesheet"/>
<link href="{{url_for('static', filename='assets/css/modal.css')}}" rel="stylesheet"/>
<section id="sell">
  <canvas class="transparent_effect fixed" id="banner_canvas" width="1278" height="875">
   </canvas>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 offset-lg-2">
            <div class="title_default_light title_border text-center">
              <h4 class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">Join</h4>
              <p class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">Join any pool with any contribution!</p>
            </div>
          </div>
        </div>


        <div class="row small_space">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="title_default_light text-center">
              <h4 class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">Pools</h4>
            </div>
            <div class="token_info_table_s2 scroll">
              <table class="table table-blue m-0 h-100">
                <tbody><tr>
                  <td class="text-center"><h5></h5></td>
                  <td class="text-center"><h5>Market Price</h5></td>
                  <td class="text-center"><h5>Pool Cap</h5></td>
                  <td class="text-center"><h5>Current Contributions</h5></td>
                  <td class="text-center"><h5></h5></td>
                  <td class="text-center"><h5></h5></td>

                </tr>
                </tbody><tbody id="pool-objects">

                  <!-- <tr class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
                    <td class="text-center">Fish #188 (PUT PICTURE HERE)</td>
                    <td class="text-center">0.5 ETH</td>
                    <td class="text-center">0.6 ETH</td>
                    <td class="text-center">0.3 ETH</td>
                    <td class="text-center"><a type="approval-btn" class="btn btn-info btn-radius trigger" approved="true" trade-address="0x0d" onclick="showJoinModal();">Join</a></td>
                    <td class="text-center"><a type="approval-btn" class="btn btn-info btn-radius" approved="true" trade-address="0x0d" onclick="">LooksRare</a></td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>

        </div>
      <!--modal-->
      <div id="join-modal" class="modal">
        <div class="modal-content blue_dark_bg">
          <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
              <span class="close-button">×</span>
            </div>
          </div>
          <div class="title_default_light text-center">
            <h5>Sale Information</h5>
          </div>
          <form id="sell-form" class="field_form">
            <div class="row">
              <div class="form-group col-md-12">
                <p>
                  <span id="join-pool-name"></span>
                  <br>
                  <br>
                  <span>Collection Address: </span><span id="pool-nft-collection-address"></span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <a class="btn btn-info btn-radius" id="pool-nft-etherscan" href="" target="_blank">Etherscan</a>
              </div>
              <div class="col-6">
                <a class="btn btn-info btn-radius" id="pool-nft-looksrare" href="" target="_blank">LooksRare</a>
              </div>
              <div class="form-group col-3"></div>
            </div>
            <div class="row small_space">
              <div class="form-group col-md-12 input-group-append">
                <input type="number" class="form-control" id="contribution" style="padding-right:20px;" placeholder="Contribution" step="0.000000001" required="">
                <div class="input-group-append">
                   <span class="input-group-text form-control" style="opacity: 1;"> ETH </span>
                </div>
              </div>
              <div class="col-12">
                <a class="btn btn-default btn-radius btn-block text-center" id="join-pool" onclick="joinPool();">Join Pool</a>
                <div class="row" id="joining-loading">
                  <div class="col-9"><p>Joining pool. Please wait to activate transaction (do not close this popup)</p></div>
                  <div class="col-3">
                    <div class="spinner-border text-light"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div id="alert-msg" class="alert-msg text-center"></div>
              </div>
             </div>
            </form>
        </div>
      </div>
    </div>
</section>

<!--templates-->
{% raw %}
<template id="pool-template">

  <tr class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;" pool-id="{{pool_id}}">
    <td>
      <img class="join-img" src="{{link}}">
      <h5 name="nft-name" class="text-center"><span>{{name}}</span> #<span>{{token-id}}</span></h5>
      </td>
    <td class="text-center">{{market-price}} ETH</td>
    <td class="text-center">{{cap}} ETH</td>
    <td class="text-center"><span name="current-contributions">...</span> ETH</td>
    <td class="text-center"><a type="approval-btn" class="btn btn-info btn-radius trigger" 
      approved="true" onclick="selectPool('{{pool_id}}', '{{address}}', '{{cap}}', '{{name}}', '{{token-id}}'); showJoinModal();">Join</a></td>
    <td class = "text-center"><a class="btn btn-info btn-radius" id="join-nft-looksrare" href="{{looksRare-href}}" target="_blank">LooksRare</a></td>
  </tr>

  <!-- <div class="col-lg-3 col-md-6 col-sm-6 res_md_mb_30 res_sm_mb_20 text-center">
    <a class="tab-link" onclick="selectPool('{{collection_address}}', '{{pool_id}}');" pool-id="{{pool_id}}">
      <img class="center" src="{{link}}">
      <h5><span>{{name}}</span> #<span>{{token_id}}</h5>
    </a>
  </div> -->

</template>
<template id="join-template">
  <tr class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
    <td>{{name}}</td>
    <td>{{maxContributions}}</td>
    <td>{{creator}}</td>
    <td>{{collection}}</td>
    <td>
      <a onclick="copyAddress('{{tradeAddress}}');"><span trade-address="{{tradeAddress}}">{{tradeAddress}}</span><span> </span><i trade-address="{{tradeAddress}}" class="fa fa-copy" style="font-size:12px"></i></a>
    </td>
    <td>{{completed}}</td>
    <td><a type="approval-btn" class="btn btn-info btn-radius" approved="{{approved}}" trade-address="{{tradeAddress}}" onclick="toggleApproval('{{tradeAddress}}');">{{approvedString}}</a></td>
  </tr>
</template>
{% endraw %}

{% endblock content %}

{% block scripts %}
  <script src="{{url_for('static', filename='assets/js/integrations/looksrare.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/integrations/weth/abis.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/integrations/weth/contract.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/modal.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/pool/ABIS.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/pool/contract.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/pool/real-contributions.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/pool/join/join.js')}}"></script>
{% endblock %}
