{% extends "layout.html" %}
{% block content %}
  <!-- START SECTION BANNER -->
  <section class="section_banner pb-0" data-image-src="assets/images/banner_bg3.png" data-parallax="scroll" data-z-index="1" id="home_section">
   <canvas class="transparent_effect fixed" id="banner_canvas">
   </canvas>
   <div class="container">
    <div class="row align-items-center">
     <div class="col-lg-6 col-md-12 col-sm-12 order-lg-first">
      <div class="banner_text text_md_center">
       <h1 class="animation" data-animation="fadeInUp">
        Bahia - The Safest, Simplest P2P NFT Trading Platform Ever.
       </h1>
       </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 order-lg-first">
      <div class="row banner_text" data-animation="fadeInUp">
       <h5>For Traders, By Traders</h5>
       <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">
        We set out to create the most straight-forward method of buying and selling NFTs between peers. Our goal was and continues to be making the NFT trade as simple, secure, and efficient as possible.
       </p>
       <h5>Don't Pay for Market Makers</h5>
       <p class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">
        Exchanges charge 2.5% for creating a market for you, and collections charge an additional 5+% on platforms like OpenSea and LooksRare. Bahia is for sellers that can find their own buyers, charging only 1% to keep improving our platform for you.
       </p>

     </div>
    </div>
    <div class="row">
     <div class="col-12">
      <div class="divider small_divider">
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-md-12">
     </div>
    </div>
   </div>
  </section>
  <!-- END SECTION BANNER -->
  <!-- START SECTION TIMELINE -->
  <section class="blue_dark_bg" id="how-bahia-works">
   <div class="container">
    <div class="row">
     <div class="col-lg-8 col-md-12 offset-lg-2">
      <div class="title_default_light title_border text-center">
       <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
        How Bahia Works
       </h4>
      </div>
     </div>
    </div>
   </div>
   <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-0"></div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="title_default_light text-center">
          <h4>Buy</h4>
        </div>
        <div class="row">
          <ol>
             <h5>
               <li class="animation" data-animation="fadeInDown" data-animation-delay="0.2s">
                 Enter Trade Address
               </li>
             </h5>
             <h5>
               <li class="animation" data-animation="fadeInDown" data-animation-delay="0.2s">
                 Click Buy
               </li>
             </h5>
             <h5>
               <li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                Buyer receives NFT, Seller receives ETH
               </li>
             </h5>
          </ol>
        </div>
        </div>
      <div class="col-lg-2 col-md-2 col-sm-0"></div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="title_default_light text-center">
          <h4>Sell</h4>
        </div>
        <div class="row">
          <ol>
             <h5>
               <li class="animation" data-animation="fadeInDown" data-animation-delay="0.2s">
                 Select NFT
               </li>
            </h5>
             <h5>
               <li class="animation" data-animation="fadeInDown" data-animation-delay="0.2s">
                 Set Purchase Terms
               </li>
            </h5>
             <h5>
               <li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                Get Trade Address
               </li>
            </h5>
          </ol>
        </div>
        </div>
      <div class="col-lg-2 col-md-2 col-sm-0"></div>
      </div>
   </div>
  </section>
  <!-- END SECTION TIMELINE -->
  <!-- START SECTION SERVICES -->
  <section class="" id="security">
   <div class="container">
    <div class="row align-items-center">
     <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
      <div class="title_default_light title_border text-center">
       <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
        Security
       </h4>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="box_wrap text-center box_shadow_none p-0 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
       <img alt="Wallet" src="{{url_for('static', filename='assets/images/Stay_friend.png')}}"/>
       <h4>
        Anti-Scam
       </h4>
       <p>
        No Links. Ever. Seriously though, we never want a user to be scammed, so we have made the purchase process watertight to keep users safe. This includes getting rid of links, ERC20 asset trades, and custodial/escrow smart contracts.
       </p>
      </div>
     </div>
     <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="box_wrap text-center box_shadow_none p-0 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
       <img alt="Protection" src="{{url_for('static', filename='assets/images/Manage_wallet.png')}}"/>
       <h4>
        Non-Custodial
       </h4>
       <p>
        No escrow accounts that force you to transfer your NFTs before sale. The NFT will never leave your wallet until the transaction is complete, and you have received the ETH.
       </p>
      </div>
     </div>
     <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="box_wrap text-center box_shadow_none p-0 animation" data-animation="fadeInUp" data-animation-delay="0.6s">
       <img alt="Analysis" <img src="https://img.icons8.com/ios-filled/60/f6a788/ethereum.png">
       <h4>
        Get Paid in ETH
       </h4>
       <p>
        Sellers on Bahia only accept ETH. No WETH, no shitcoins, no scams. As soon as a buyer purchases the NFT, the ETH goes straight to the seller, and the NFT goes straight to the buyer.
       </p>
      </div>
     </div>
     <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="box_wrap text-center box_shadow_none p-0 animation" data-animation="fadeInUp" data-animation-delay="0.8s">
       <img alt="Projects" src="{{url_for('static', filename='assets/images/Project.png')}}"/>
       <h4>
        Complete Transparency
       </h4>
       <p>
        We provide access to everything a buyer should know with a single click. This includes the collection address, id, content, and even LooksRare link to the collection, so you can verify that the NFT is exactly what you expect.
       </p>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!-- END SECTION SERVICES -->
  <section id="faq" class="blue_dark_bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-12 offset-lg-2">
              <div class="title_default_light text-center">
                <h4 class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">Frequently Asked Questions</h4>
              </div>
            </div>
        </div>
        <div class="row small_space">
          <div class="col-lg-3 col-md-12">
              <ul class="nav nav-pills d-block tab_s2" id="pills-tab" role="tablist">
                      <li class="nav-item animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.5s" style="animation-delay: 0.5s; opacity: 1;">
                        <a class="tab-link active" data-toggle="tab" href="#tab1">General</a>
                      </li>
                      <li class="nav-item animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.6s" style="animation-delay: 0.6s; opacity: 1;">
                        <a class="tab-link" data-toggle="tab" href="#tab2">Trading </a>
                      </li>
                      <li class="nav-item animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.7s" style="animation-delay: 0.7s; opacity: 1;">
                        <a class="tab-link" data-toggle="tab" href="#tab3">Safety</a>
                      </li>
                      <li class="nav-item animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.7s" style="animation-delay: 0.7s; opacity: 1;">
                        <a class="tab-link" data-toggle="tab" href="#tab4">Other</a>
                      </li>
                    </ul>
            </div>
          <div class="col-lg-9 col-md-12">
                <div class="tab-content res_md_mt_30 res_sm_mt_20">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                        <div id="accordion1" class="faq_content2">
                            <div class="card animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
                              <div class="card-header" id="headingOne">
                                <h6 class="mb-0"> <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is Bahia?</a> </h6>
                              </div>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                                <div class="card-body"> Bahia is a P2P NFT trading platform where holders can sell directly to buyers without interacting with an exchange. For now, that means that sellers can sell one NFT at a time for a specified ETH price. Over time, we will implement features to trade NFTs and transact in batches.</div>
                              </div>
                            </div>
                            <div class="card animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.6s" style="animation-delay: 0.6s; opacity: 1;">
                              <div class="card-header" id="headingTwo">
                                <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Bahia vs. OpenSea</a> </h6>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
                                <div class="card-body"> OpenSea charges much higher fees to create full exchanges, complete with many features like soliciting bids and viewing entire collections of NFTs. This assists some sellers in finding buyers, but it is not always necessary. For example, community members and influencers often find their own buyers, which negates any need for a full exchange. Bahia allows you to transact safely with lower fees, as we are not charging you for exchange-related activities (e.g. soliciting bids, listing within a collection with comparable NFTs).</div>
                              </div>
                            </div>
                          <div class="card animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.8s" style="animation-delay: 0.8s; opacity: 1;">
                              <div class="card-header" id="headingThree">
                                <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How can Bahia charge less than OpenSea?LooksRare?</a> </h6>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion1">
                                <div class="card-body"> Bahia and OpenSea collect fees in the same manner. When a transaction occurs, it passes through a smart contract. This smart contract ensures that the both sides of the transaction (ETH & NFT) are fulfilled simultaneously. In the same transaction, the contract takes 1% of the ETH and retains it for the Bahia platform. Simply put, the smart contract pays the platform wallet a small fee mere milliseconds before delivering the ETH to the seller. </div>
                              </div>
                            </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                        <div id="accordion2" class="faq_content2">
                            <div class="card animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
                              <div class="card-header" id="headingFive">
                                <h6 class="mb-0"> <a data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">What fees do I pay?</a> </h6>
                              </div>
                              <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion2">
                                <div class="card-body"> To create a transaction, gas of approximately 0.0005-0.001 ETH is required. After the sale finishes and the seller is paid, a fee of 1% is paid to the platform for facilitating a safe transfer. There are no fees paid to artists or collections.</div>
                              </div>
                            </div>
                            <div class="card animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.6s" style="animation-delay: 0.6s; opacity: 1;">
                              <div class="card-header" id="headingSix">
                                <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">How do I trade on Bahia?</a> </h6>
                              </div>
                              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion2">
                                <div class="card-body"> The seller picks an NFT to sell, sets the price, sets the expiration, and creates the trade. Once the trade is created, the seller must approve the contract (click the activate button) to sell the NFT, which is required for any ERC721 transaction (can be canceled at any time).
                                  <br><br>
                                The buyer, after receiving the trade address from the seller (via discord, twitter, etc.), goes to bahia.io/buy and inputs the trade address. The buyer will see the NFT being offered, and can click the LOOKSRARE and ETHERSCAN buttons to ensure the NFT collection is verified. Once the buyer clicks buy (as long as they have the adequate amount of ethereum in their wallet), the NFT will arrive in their wallet, and the seller will receive the payment.
                                </div>
                              </div>
                            </div>
                            <div class="card animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.8s" style="animation-delay: 0.8s; opacity: 1;">
                              <div class="card-header" id="headingSeven">
                                <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">What if I don’t specify a buyer when selling an NFT?</a> </h6>
                              </div>
                              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion2">
                                <div class="card-body">If a seller doesn’t specify any buyer, anyone who visits the trade address via bahia.io/buy can purchase the NFT for the specified price.</div>
                              </div>
                            </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tab3" role="tabpanel">
                        <div id="accordion3" class="faq_content2">
                            <div class="card animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
                              <div class="card-header" id="headingNine">
                                <h6 class="mb-0"> <a data-toggle="collapse" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">What makes Bahia safe?</a> </h6>
                              </div>
                              <div id="collapseNine" class="collapse show" aria-labelledby="headingNine" data-parent="#accordion3">
                                <div class="card-body"> Bahia ensures that only ethereum can be sent, making it impossible to receive suspicious ERC20 assets.
                                  <br><br>
                                  NFTs stay in your wallet. This means that if our site goes down for any reason, your NFTs are still safe. In fact, you can cancel the transaction at any time via any ERC721 contract or by simply moving the NFT to a different wallet. We only provide a transaction for the buyer to accept. The buyer can only send the specified price, and we provide the buyer with LooksRare and Etherscan links to verify they will receive the correct NFT.
                                  <br><br>
                                  Our contract will never require that you approve access to all your NFTs, allowing maximum flexibility and security to sellers.
                                  <br><br>
                                  Sellers can cancel any transaction at any time.
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tab4" role="tabpanel">
                        <div id="accordion2" class="faq_content2">
                            <div class="card animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
                              <div class="card-header" id="headingFive">
                                <h6 class="mb-0"> <a data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Where do I find buyers for my NFTs?</a> </h6>
                              </div>
                              <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion2">
                                <div class="card-body"> Many discords have marketplace threads where you can post your NFT and an asking price. We recommend posting your NFT, the asking price, and the Bahia trade address after you’ve opened the trade. You never need to send a link. If asked, buyers should all just be directed to the general dApp link: bahia.io/buy
                                  <br><br>
                                  In addition, we have a monitored discord thread where buyers and sellers can find one another safely.
                                </div>
                              </div>
                            </div>
                            <div class="card animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.6s" style="animation-delay: 0.6s; opacity: 1;">
                              <div class="card-header" id="headingSix">
                                <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">What if I need help?</a> </h6>
                              </div>
                              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion2">
                                <div class="card-body"> Feel free to consult our discord and ask any questions/voice any concerns. We will get to them as soon as possible, and ensure that you can resume transacting on Bahia with safety and ease.</div>
                              </div>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
