{% extends "layout.html" %}

{% block meta %}
  <meta content="Bahia: P2P NFT Trading" name="description"/>
{% endblock %}

{% block content %}
  <link href="{{url_for('static', filename='assets/css/home.css')}}" rel="stylesheet"/>
  <!-- START SECTION BANNER -->
  <section class="section_banner pb-0" data-image-src="assets/images/banner_bg3.png" data-parallax="scroll" data-z-index="1" id="home_section">
   <canvas class="transparent_effect fixed" id="banner_canvas">
   </canvas>
   <div class="container">
    <div class="row align-items-center">
     <div class="col-lg-6 col-md-12 col-sm-12 order-lg-first">
      <div class="banner_text text_md_center">
       <h1 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
        Bahia - A Trader's Revolution
       </h1>
       <h5 class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">Good Morning</h5>
       <p class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">
        We waited. We listened to the market. We built our vision for NFTs from the ground up. The goal: make trading simple, easy, and accessible for all.
       </p>
       </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 order-lg-first">
      <div class="row banner_text" data-animation="fadeInUp" data-animation-delay="0.4s">
       <h5 class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">Our Vision</h5>
       <p class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">
        Two devs and an NFT enthusiast started Bahia out of sheer willpower. Naturally, everyone wants revolutionary technology to succeed. However, the market has consistently priced out early adopters or introduced too much friction for people to profit in the long-run. As a result, we built two solutions. Pools let investors trustlessly pool capital to purchase blue-chip NFTs. Bartering lets peers engage in trading with only 1% total fees.
       </p>
     </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-6 col-md-0 col-sm-0"></div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <a href="/barter/sell" class="btn btn-border-white btn-radius whitepaper-btn" style="">Barter <i class="ion-ios-arrow-thin-right"></i></a>
        <a href="/pool/join" class="btn btn-border-white btn-radius whitepaper-btn" style="">Pool <i class="ion-ios-arrow-thin-right"></i></a>
    </div>
    <div class="row">
     <div class="col-12">
      <div class="divider small_divider">
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-md-12">
     </div>
    </div>
   </div>
  </section>
  <!-- END SECTION BANNER -->
  <!-- START SECTION TIMELINE -->
  <section id="team" class="small_pt small_pb blue_dark_bg">
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 offset-lg-2">
            <div class="title_default_light title_border text-center">
              <h4 class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">Our Team</h4>
            </div>
          </div>
        </div>
      <div class=""></div>
        <div class="row small_space justify-content-center">
          <div class="col-lg-9 col-md-12">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6 res_md_mb_30 res_sm_mb_20">
                <div class="light_blue_dark_bg radius_box team_box_s3 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
                    <div class="text-center">
                      <img src="assets/images/placeholder9.png" alt="placeholder9">
                      <div class="team_social_s2 list_none">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                    </div>
                    <div class="team_info text-center">
                        <h4><a href="#team5" class="content-popup">Tricia Diyana</a></h4>
                        <p>Invester</p>
                    </div>
                    <div id="team5" class="team_pop mfp-hide">
                        <div class="row m-0">
                            <div class="col-md-4 text-center">
                              <div class="team_img_wrap">
                                  <img class="w-100" src="assets/images/placeholder3.jpg" alt="user_img-lg">
                                    <div class="team_title">
                                        <h4>Tricia Diyana</h4>
                                        <span>Invester</span>
                                    </div>
                                </div>
                                <div class="social_single_team list_none mt-3">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                            </div>
                            <div class="col-md-8">
                                <div class="pt-3">
                                    <h5>About</h5>
                                    <hr>
                                    <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                                    <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 res_md_mb_30 res_sm_mb_20">
                <div class="light_blue_dark_bg radius_box team_box_s3 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
                    <div class="text-center">
                      <img src="assets/images/placeholder9.png" alt="placeholder9">
                      <div class="team_social_s2 list_none">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                    </div>
                    <div class="team_info text-center">
                        <h4><a href="#team6" class="content-popup">Kent Pierce</a></h4>
                        <p>Invester</p>
                    </div>
                    <div id="team6" class="team_pop mfp-hide">
                        <div class="row m-0">
                            <div class="col-md-4 text-center">
                              <div class="team_img_wrap">
                                  <img class="w-100" src="assets/images/placeholder3.jpg" alt="user_img-lg">
                                    <div class="team_title">
                                        <h4>Kent Pierce</h4>
                                        <span>Invester</span>
                                    </div>
                                </div>
                                <div class="social_single_team list_none mt-3">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                            </div>
                            <div class="col-md-8">
                                <div class="pt-3">
                                    <h5>About</h5>
                                    <hr>
                                    <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                                    <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-6 offset-sm-3">
                <div class="light_blue_dark_bg radius_box team_box_s3 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.6s" style="animation-delay: 0.6s; opacity: 1;">
                    <div class="text-center">
                      <img src="assets/images/placeholder9.png" alt="placeholder9">
                      <div class="team_social_s2 list_none">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                    </div>
                    <div class="team_info text-center">
                        <h4><a href="#team7" class="content-popup">Rose Morgen</a></h4>
                        <p>Invester</p>
                    </div>
                    <div id="team7" class="team_pop mfp-hide">
                        <div class="row m-0">
                            <div class="col-md-4 text-center">
                              <div class="team_img_wrap">
                                  <img class="w-100" src="assets/images/placeholder3.jpg" alt="user_img-lg">
                                  <div class="team_title">
                                        <h4>Rose Morgen</h4>
                                        <span>Invester</span>
                                    </div>
                                </div>
                                <div class="social_single_team list_none mt-3">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                            </div>
                            <div class="col-md-8">
                                <div class="pt-3">
                                    <h5>About</h5>
                                    <hr>
                                    <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                                    <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
  <!-- END SECTION TIMELINE -->
{% endblock %}
