{% extends "layout.html" %}

{% block content %}
<link href="{{url_for('static', filename='assets/css/sell/sell.css')}}" rel="stylesheet"/>
<link href="{{url_for('static', filename='assets/css/modal.css')}}" rel="stylesheet"/>
<!-- START SECTION SELL -->
<section id="sell">
  <canvas class="transparent_effect fixed" id="banner_canvas">
   </canvas>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 offset-lg-2">
            <div class="title_default_light title_border text-center">
              <h4 class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">Sell</h4>
              <p class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">Select an NFT, enter the terms of the transaction, and click sell! You will receive a trade address for your buyer immediately after.</p>
            </div>
          </div>
        </div>
        <div class="row small_space">
          <div class="col-lg-9 col-md-9 col-sm-6"></div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <button class="btn btn-default btn-radius btn-block trigger" id="sell-nft-btn" onclick="showSellModal();">Sell NFT</button>
          </div>
        </div>
        <div class="row small_space" id="nft-objects">
        </div>
        <div class="row small_space">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="title_default_light text-center">
              <h4 class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">Sales</h4>
            </div>
            <div class="token_info_table_s2 scroll">
              <table class="table table-blue m-0 h-100">
                <tr>
                  <td class="text-center"><h5>Name</h5></td>
                  <td class="text-center"><h5>Cost</h5></td>
                  <td class="text-center"><h5>Expiration</h5></td>
                  <td class="text-center"><h5>Buyer</h5></td>
                  <td class="text-center"><h5>Trade Address</h5></td>
                  <td class="text-center"><h5>Completed</h5></td>
                  <td class="text-center"><h5>Active</h5></td>
                </tr>
                <tbody id="sale-objects">
                </tbody>
              </table>
            </div>
          </div>

        </div>
      <!--modal-->
      <div id="sell-nft-modal" class="modal">
        <div class="modal-content blue_dark_bg">
          <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
              <span class="close-button">×</span>
            </div>
          </div>
          <div class="title_default_light text-center">
            <h5>Sale Information</h5>
          </div>
          <form id="sell-form" class="field_form">
            <div class="row">
              <div class="form-group col-md-12">
                <p>
                  <span id="sell-nft-name"></span>
                  <br>
                  <br>
                  <span>Collection Address: </span><span id="sell-nft-collection-address"></span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <a class="btn btn-info btn-radius" id="sell-nft-etherscan" href="https://etherscan.io" target="_blank">Etherscan</a>
              </div>
              <div class="col-6">
                <a class="btn btn-info btn-radius" id="sell-nft-looksrare" href="https://looksrare.org" target="_blank">LooksRare</a>
              </div>
              <div class="form-group col-3"></div>
            </div>
            <div class="row small_space">
              <div class="form-group col-md-12 input-group-append">
                <input type="number" class="form-control" id="cost" style="padding-right:20px;" placeholder="Cost" step="0.000000001" required>
                <div class="input-group-append">
                   <span class="input-group-text form-control" style="opacity: 1;"> ETH </span>
                </div>
              </div>
              <div class="form-group col-md-12 input-group-append">
                <div class="input-group-append">
                   <span class="input-group-text form-control" style="opacity: 1;"> Expiration: </span>
                </div>
                <input type="date" id="date" class="form-control" required>
              </div>
              <div class="form-group col-md-12">
                <input type="text" placeholder="Buyer Address (optional)" id="buyer-address" class="form-control">
              </div>
              <div class="col-12">
                <a class="btn btn-default btn-radius btn-block text-center" id="create-sale" onclick="createSale();">Create Sale</a>
                <div class="row" id="sale-loading">
                  <div class="col-9"><p>Creating trade. Please wait to activate transaction (do not close this popup)</p></div>
                  <div class="col-3">
                    <div class="spinner-border text-light"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div id="alert-msg" class="alert-msg text-center"></div>
              </div>
             </div>
            </form>
        </div>
      </div>
    </div>
</section>
<!-- END SECTION SELL-->


<!--templates-->
{% raw %}
<template id="nft-template">
  <div class="col-lg-3 col-md-6 col-sm-6 res_md_mb_30 res_sm_mb_20 text-center">
    <a class="tab-link" onclick="selectNFT('{{token_address}}', {{token_id}});" nft-id="{{token_id}}">
      <img class="center" src="{{link}}">
      <h4><span>{{name}}</span> #<span>{{token_id}}</h4>
    </a>
  </div>
</template>
<template id="sale-template">
  <tr class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
    <td>{{name}}</td>
    <td>{{cost}}</td>
    <td>{{expiration}}</td>
    <td>{{buyerAddress}}</td>
    <td>
      <a onclick="copyAddress('{{tradeAddress}}');"><span trade-address="{{tradeAddress}}">{{tradeAddress}}</span><span> </span><i trade-address="{{tradeAddress}}" class="fa fa-copy" style="font-size:12px"></i></a>
    </td>
    <td>{{completed}}</td>
    <td><a type="approval-btn" class="btn btn-info btn-radius" approved="{{approved}}" trade-address="{{tradeAddress}}" onclick="toggleApproval('{{tradeAddress}}');">{{approvedString}}</a></td>
  </tr>
</template>
{% endraw %}

{% endblock content %}

{% block scripts %}
    <script src="{{url_for('static', filename='assets/js/modal.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/sell/sell.js')}}"></script>
{% endblock %}
